*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.6;
}

.hero__section {
  background-color: #1f2937;
  padding: 14px 200px 400px 200px;
}

.navigation__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 170px;
}

.hero__logo-text {
  font-size: 24px;
  color: #f9faf8;
}

.hero__text--primary {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero__text--secondary {
  font-size: 18px;
  color: #e5e7eb;
}

.header__links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.link {
  text-decoration: none;
}

.hero__content {
  display: flex;
  justify-content: space-between;
}

.hero__content-main {
  flex: 1;
}

.hero__content-secondary {
  background-color: #91A3B0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder__text {
  color: #fff;
}
